<h1 class="title">
	<%= @post.name %> is...
</h1>


<% if user_signed_in? %>
	<p class="secret">
		<%= @post.secret %>
	</p>

	<p class="author">
		Posted by <%= @post.user.name %>
	</p>
<% else %>
<p>
	<%= link_to 'Sign In', new_user_session_path %> or
	<%= link_to 'Sign Up', new_user_registration_path %> to see the Secret Identity
</p>
<% end %>

<%= link_to 'Index', root_path(@post) %>
